* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

.car {
    width: 50px;
    height: 100px;
    background: transparent url("../img/player.png") center/cover no-repeat;
}